@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&family=Ubuntu:wght@500&display=swap');


body{
	background-image: url(img/miku.jpg);
	background-size: cover;
	background-attachment: fixed;
}


*{
	margin: 0;
	padding: 0;
}

header{
	height: 85px;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid black;
	text-align: center;
}

.title{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	border: 3px solid black;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.6);
	height: 50px;
	width: 150px;
	margin: 0 auto;
}


.popular{
	color: white;
	background: rgba(26, 26, 64, 0.4);
	font-family: 'Signika Negative', sans-serif;
	text-align: center;
	margin: 40px auto;
	height: 50px;
	width: 180px;
	border: 4px solid #082032;
	border-radius: 5px;
}


.popular h1{
	padding: 5px;
}


.container{
	
}

.card1{
	border: 3px solid black;
	border-radius: 6px;
	height: 400px;
	width: 275px;
	margin: 5px;
	text-align: center;
	background: rgba(26, 26, 64, 0.2);


}

.card1 h4{
	color: white;
}

.card1 img{
	height: 245px;
	width: 165px;
	border-radius: 5px;

}







.spotify{
	height: 80px;
	width: 300px;
	padding: 15px;
	position: fixed;
	left: 78%;
	right: 78%;
	bottom: 25px;
	z-index: 0;

}